<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
			body {
				background-image: url(img/5618d2cf33ae3.jpg);
				background-repeat: repeat-y ;
			}
		</style>
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div><h2> 历史订单</h2>
		</div>
		
<div class="row">
    <div class="col-sm-8 col-md-6">
         <div class="thumbnail">
            <img src="img/q.jpg" >
           
            <div class="caption" align="middle">
                <h4>好再来</h4>
                <p>饼干，奶茶</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        评价
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        评价得金币
                    </a>
                </p>
            </div>
         </div>
    </div>
   <div class="col-sm-8 col-md-6">
         <div class="thumbnail">
            <img src="img/t (2).jpg" >
           
            <div class="caption" align="middle">
                <h4>味不错</h4>
                <p>冰激凌，奶茶</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        评价
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        评价得金币
                    </a>
                </p>
            </div>
         </div>
    </div>
   <div class="col-sm-8 col-md-6">
         <div class="thumbnail">
            <img src="img/e.jpg" >
           
            <div class="caption" align="middle">
                <h4>兰州拉面</h4>
                <p>牛肉拉面，可乐</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        评价
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        评价得金币
                    </a>
                </p>
            </div>
         </div>
    </div>
   <div class="col-sm-8 col-md-6">
         <div class="thumbnail">
            <img src="img/w.jpg" >
           
            <div class="caption" align="middle">
                <h4>沙县小吃</h4>
                <p>猪肚汤馄饨</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        评价
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        评价得金币
                    </a>
                </p>
            </div>
         </div>
    </div>
     <div class="col-sm-8 col-md-6">
         <div class="thumbnail">
            <img src="img/e.jpg" >
           
            <div class="caption" align="middle">
                <h4>coco</h4>
                <p>牛奶，奶茶</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        评价
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        评价得金币
                    </a>
                </p>
            </div>
         </div>
    </div>
     <div class="col-sm-8 col-md-6">
         <div class="thumbnail">
            <img src="img/y.jpg" >
           
            <div class="caption" align="middle">
                <h4>丧茶</h4>
                <p>柠檬茶</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        评价
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        评价得金币
                    </a>
                </p>
            </div>
         </div>
    </div>
		
		<!--引入jquery-->
		
		<script src="plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>






