<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>发起订单</title>
		<style type="text/css">
			body{
				background-image: url(img/5618d2cf33ae3.jpg);
				background-repeat: no-repeat;
			}
		</style>
		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	</head>
	
	
	<body>
		<h1 align="center"><strong>添加商品</strong></h1>
		<div class="row">
    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202101407.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>Hellokity饼干</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>
   <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202111415.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>香草冰激凌</h3>
                <p>清凉可口，冰爽丝滑</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>
 <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202100016.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>蓝莓冰激凌</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>
 <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202100148.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>巧克力蛋糕</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

   
     <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202100216.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>奶油蛋糕</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202134416.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>肉串</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

   <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202134543.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>牛奶</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>
 <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202134729.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>柠檬</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202134756.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>布丁</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202134858.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>鲜草冰激凌</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202134934.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>荷包蛋</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="img/截图20181202135002.png" align="left"> 
             
            <div class="caption" align="right">
                <h3>鲜草蛋糕</h3>
                <p>美味可口，香甜酥脆</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        +
                    </a> 
                    <a href="#" class="btn btn-default" role="button">
                        -
                    </a>
                </p>
            </div>
         </div>
    </div>

    <hr>
    <div align="center"><button type="button" class="btn btn-success" >发起订单</button></div>
</div>
		<!--引入jquery-->
		
		<script src="plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>












