<
<!doctype html>
<html >
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>注册</title>
<link rel="stylesheet" type="text/css" href="css/Demo-admi-log.css"
</head>
<body>
<div class="htmleaf-container">
	<div  class="wrapper" >
		<div class="container">
			<h1>欢迎加入点点餐</h1>
			
			<form  class="form">
				<input type="text" placeholder="Username">
				<input type="password" placeholder="Password">
				<input type="text" placeholder="phone number">
				<button type="submit" id="login-button">注册</button>
			</form>
		</div>
		
	
	</div>
</div>



<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:mediumspringgreen">
<h1>用户注册界面</h1>
</div>
</body>
</html>